{% extends "imoveis/base.html" %}
{% load static %}
{% load currency %}
{% block content %}
    <section id="one" class="wrapper style1 align-center"></section><br/>
    <header class="major">
        <h2>Cadastro de imóveis</h2>
    </header>
    <section id="main">
        <div class="container">
            <!-- Form -->
            <section>
                <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row uniform 50%">
                        <div class="6u 12u$(xsmall)">
                            <label for="{{ form.breve_descricao.id_for_label }}">{{ form.breve_descricao.label }} :</label>
                            {{ form.breve_descricao }}
                            {{ form.breve_descricao.errors }}
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                             <label for="{{ form.telefone.id_for_label }}">{{ form.telefone.label }} :</label>
                            {{ form.telefone }}
                            {{ form.telefone.errors }}
                        </div>

                        <div class="4u 12u$(small)">
                            <label for="{{ form.endereco.id_for_label }}">{{ form.endereco.label }} :</label>
                            {{ form.endereco }}
                            {{ form.endereco.errors }}
                        </div>
                        <div class="4u 12u$(small)">
                            <label for="{{ form.bairro.id_for_label }}">{{ form.bairro.label }} :</label>
                            {{ form.bairro }}
                            {{ form.bairro.errors }}
                        </div>
                        <div class="4u$ 12u$(small)">
                           <label for="{{ form.complemento.id_for_label }}">{{ form.complemento.label }} :</label>
                            {{ form.complemento }}
                            {{ form.complemento.errors }}
                        </div>
                        <div class="12u$">
                            <label for="{{ form.uf.id_for_label }}">{{ form.uf.label }} :</label>
                            {{ form.uf }}
                            {{ form.uf.errors }}
                        </div>
                        <div class="6u 12u$(small)">
                            <label for="{{ form.preco.id_for_label }}">{{ form.preco.label }} :</label>
                            {{ form.preco }}
                            {{ form.preco.errors }}
                        </div>
                        <div class="6u$ 12u$(small)">
                            <label for="{{ form.imagem.id_for_label }}">{{ form.imagem.label }} :</label>
                            {{ form.imagem }}
                            {{ form.imagem.errors }}
                        </div>
                        <div class="12u$">
                            <label for="{{ form.detalhes.id_for_label }}">{{ form.detalhes.label }} :</label>
                            {{ form.detalhes }}
                            {{ form.detalhes.errors }}
                        </div>
                        <div class="12u$">
                            <ul class="actions">
                                <li><input type="submit" value="Cadastrar" class="special"/></li>
                                <li><input type="reset" value="Limpar"/></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </section>

{% endblock %}