{% extends "base.html" %}
{% load static %}
{% block content %}
    <section id="one" class="wrapper style1 align-center">

    </section>
    <header class="major">
        <h2>Login</h2>
    </header>
    <section id="main" class="login">
        <div class="container">
            <!-- Form -->
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row uniform 50%">
                    <div class="6u$">
                        <label for="{{ form.username.id_for_label }}">{{ form.username.label }} :</label>
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                    <div class="6u$">
                        <label for="{{ form.password.id_for_label }}">{{ form.password.label }} :</label>
                        {{ form.password }}
                        {{ form.password.errors }}
                    </div>
                    <div class="6u$">
                        <ul class="actions">
                            <li><input type="submit" value="Login" class="special"/></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <div class="wrapper"></div>
    </section>
{% endblock %}